.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.email-items {
  width: 60%;
  margin: 10px auto;
}

.emailItem {
  font-size: 0.8em;
  text-align: left;
  border-bottom: 1px solid #cccccc;
  margin: 5px 0px;
  padding: 10px;
}
.emailItem .fromName {
  font-size: 0.75em;
}
.emailItem .subjectLine a, .emailItem .subjectLine a:visited {
  color:lightskyblue;
}
